body {
  font-family: Palatino, serif;
  background-color:#81DCBB;
}

img.Maryimage {
  width:406px;
  height:406px;
  float:right;
  z-index:2;
  padding: 20px;
  border:5px solid;
  margin: 5px;
}

h1, h2, h3, li {
  z-index:1;
}

h1 {
  line-height: 1.7em;
  font-size: 70px;
}

li {
  font-style:italic;
}

h1, h2 {
  text-decoration: underline;
}
