body {
  font-family: Palatino, serif;
  background-color:#81DCBB;
}

img.Maryimage {
  width:406px;
  height:406px;
  position:relative;
  left:400px;
}

h1 {
  line-height: 2.5em;
}

li {
  font-style:italic;
}

h1, h2 {
  text-decoration: underline;
}
