body {
  font-family: Palatino, serif;
  background-color:#81DCBB;
}

img.mary {
  width:406px;
  height:406px;
}

p {
  font-style:italic;
}

h1, h2 {
  text-decoration: underline;
  
  h1, h2, h3, p {
    padding: 50px;
}
